.user-login-box{
  display: inline-block;
  width: 150px;
  height: 150px;
  border: 2px solid blueviolet;
  margin-bottom: 10px;
}

#user-avatar{
  width: 150px;
  height: 150px;
}

.article-box{
  display: block;
  border: 2px solid blueviolet;
  margin-bottom: 10px;
  height: 200px;
  width: 740px;
}

.article-box p{
  display: inline;
  margin-left: 160px;
}

.article-box h4{
  position: relative;
  transform: translate(500px, -120px);
}

.article-details{
  display: inline;
  margin-left: 10%;
}