body{
  background-color: #f7f3e3;
  color: #1D1E2C;
}

button{
  background-color: #1D1E2C;
  color: #E54B4B;
}

button:hover{
  background-color: darkgray;
}

h2, h3, h4, p{
  text-align: center;
  color: #1D1E2C;
}

img{
  width: 30%;
  height: 30%;
}

#article__img{
  margin-left: 35%;
}

.user__login{
  display: inline-block;
  text-align: center;
  width: 10rem;
  height: 10rem;
  border: 0.1rem solid #4a0d67;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

#user__avatar{
  width: 10rem;
  height: 10rem;
}

.article__details{
  display: inline;
  text-align: center;
  margin-left: 2%;
}

.--votes{
  color: #E54B4B;
}

.article__data{
  text-align: center;
}

.comment__input{
  text-align: center;
}

.comment__box{
  display: block;
  text-align: center;
  border: 0.1rem solid #4A0D67;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  margin-right: 5rem;
}

.--details{
  display: inline;
  margin-left: 2%;
}

#comment{
  width: 20%;
}

.header__box{
  text-align: center;
}

.article__list{
  text-align: center;
}

.article__box{
  display: block;
  text-align: center;
  border: 0.1rem solid #4A0D67;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  margin-right: 5rem;
}

.topic__list{
  text-align: center;
  display: block;
}

a {
  color: #7F7EFF;
}
a:hover {
   color: #00F;
}